.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./images/blurLandscape.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  font-family: 'Nunito', sans-serif;
}

.display-container {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: rgb(218, 244, 245, .7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: solid 1px rgb(178, 236, 246);
}

.week-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(199, 159, 210, 0.5);
  border-radius: 20px 20px 0 0;
  font-weight: 500;
}

.plant-row {
  display: flex;
  justify-content: space-around;
}

.hole {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(73, 41, 2);
  border: 1px solid rgba(85, 43, 2, 0.873);
}

.progress-bar {
  width: 90%;
  height: 1rem;
  border: 2px solid rgb(3, 64, 3);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar-fill {
  width: 20%;
  height: 1rem;
  background-color: rgb(134, 242, 134);
  border-radius: 20px;
}

.button-row {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(145, 246, 241, 0.5);
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2rem;
}

.add-plant-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 1rem;
}

.nom-history-button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: .5rem;
}

.chart-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.flower {
  height: 3.5rem;
  margin-top: 1rem;
}
