.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./images/blurLandscape.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  font-family: 'Nunito', sans-serif;
}

.display-container {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: rgb(218, 244, 245, .7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: solid 1px rgb(178, 236, 246);
}

.week-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(199, 159, 210, 0.5);
  border-radius: 20px 20px 0 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.plant-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hole {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(73, 41, 2);
  border: 1px solid rgba(85, 43, 2, 0.873);
}

.progress-bar {
  width: 90%;
  height: 1rem;
  border: 2px solid rgb(3, 64, 3);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar-fill {
  width: 20%;
  height: 1rem;
  background-color: rgb(134, 242, 134);
  border-radius: 20px;
}

.button-row {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(145, 246, 241, 0.5);
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2rem;
}

.add-plant-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 1rem;
}

.total-text {
  color: rgb(72, 162, 114);
  font-weight: 500;
  font-size: 1.1rem;
  text-shadow: 1px 1px 0 rgb(103, 243, 182);
}

.nom-history-button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: .5rem;
}

.chart-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.flower {
  height: 3.5rem;
  margin-top: 1rem;
}

.back-button, .forward-button {
  position: relative;
	background: #36b7df;
	border: 1px solid #69d1f1;
  height: 2rem;
  width: 2rem;
}

.back-button {
  margin-right: 1rem;
}

.forward-button {
  margin-left: 1rem;
}

.back-button:after, 
.back-button:before, 
.forward-button:before,
.forward-button:after {
	/* right: 100%; */
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}

.back-button:after, 
.forward-button:after {
	border-color: rgba(136, 183, 213, 0);
	/* border-right-color: #36b7df; */
  border-width: .9rem;
	margin-top: -.9rem;
	
}

.back-button:after {
  right: 100%;
  border-right-color: #36b7df;
  
}

.forward-button:after{
  left: 100%;
  border-left-color: #36b7df;
}

.back-button:before,
.forward-button:before {
	border-color: rgba(194, 225, 245, 0);
	/* border-right-color: #69d1f1; */
  border-width: 1rem;
	margin-top: -1rem;
	
}

.back-button:before {
  right: 100%;
  border-right-color: #69d1f1;
}

.forward-button:before {
  left: 100%;
  border-left-color: #69d1f1;
}