.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./images/landscape.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: .8; */
}

.display-container {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: rgb(218, 244, 245, .7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: solid 1px rgb(178, 236, 246);
}

.week-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 159, 210, 0.5);
  border-radius: 20px 20px 0 0;
}

.plant-row {
  display: flex;
  justify-content: space-around;
}

.hole {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(73, 41, 2);
  border: 1px solid rgba(85, 43, 2, 0.873);
}

.progress-bar {
  width: 95%;
  height: 2rem;
  border: 2px solid rgb(3, 64, 3);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar-fill {
  width: 20%;
  height: 2rem;
  background-color: rgb(134, 242, 134);
  border-radius: 20px;
}

.button-row {
  display:flex;
  justify-content: center;
}

.week-text {

}

.total-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

